table
{
  border-collapse: collapse;
  margin: auto;
}
td,th
{
  border: 1px solid black;
  min-width: 80px;
  text-align: center;
}

<<<<<<< HEAD
qeretcerqctqezrcezqiuhctqceryuntcgiqeu Elodie
=======


bonjour je suis benjamin
>>>>>>> de7cb3aa59d953d9f1054ad2c3b71e3e13c6ecad
