/* ===== GENERAL ===== */
body{
    width: auto;
    margin: auto;
	max-width: 960px;
	margin-left: auto;
	margin-right:auto;
	background-color:#264040;
	text-align:centre;
	font-family: Arial, Helvetica, sans-serif;
}
.contener
{
    max-width: 1060px;
    margin: auto;
}
nav{
    width: 200px;
    background-color: rgb(67, 112, 112);
    height: 300px;
    padding-top: 50px
}
#icone-man{
    width:30px;
    margin-left:80px;
    margin-top: -30px;
}
#icone-man svg{
     fill: white;
    
}
#input-rechercher{
margin-top: 10px;
    display:inline-block;
    
}
#input-rechercher input{
    margin-left: 10px;
       width:140px;
}
#button-search{
    background-color:#264040;
    display:inline;
    margin-left: -5px;
}

#button-search svg
{
    display: inline-block;
    height: 10px;
    width: 18px;
    background-color:;
    fill: white;
}

 
/* ===== NAVIGATION ===== */
#menu ul {
    list-style-type: none;
    margin:0;
    padding: 0;
    width: 200px;
    background-color: rgb(67, 112, 112);
 }
#menu li{
text-align:center;
 height:40px;
 line-height: 40px;
 white-space: nowrap;
}
#menu li a {
 display:block;
 width:200px;
 color:white;
 font-weight:bold;
 text-decoration:none;
 vertical-align:middle;
 }
#menu li a:hover {
    background-color: #555;
    color: white;
}
#menu ul li ul {
 display:none;

 }
 #menu ul li:hover ul {
 display:inline-block;

 }
#menu li:hover ul li {
 float:none;
 }
#menu ul a:hover ul li {
    background-color: yellow;
    color: white;
}
 #menu li ul {
 position:absolute;
  margin-left:100px;
  background-color: #555;
  margin-top: -40px;
 }
 
 #rechercher{
 width:180px;
 height:30px;
 margin:10px 0 10px 0;
 }

/*Elodie*/

table
{
  border-collapse: collapse;
  width: 100%;
}

table,th,td
{
  border: 1px solid silver;
}

th,td
{
  padding: 3px;
  padding-left: 15px;
}

th
{
    background-color: #4CAF50;
    color:white;
}

tr:nth-child(even)
{
  background-color: #f2f2f2;
}

h1
{
	color:white;
	position:relative;
	top:-300px;
	text-align:center;
}

#bouton_ajouter
{
	position:relative;
	top:-280px;
	width:20%;
	margin-left: 55%;
  margin-right: auto;
}

.dataTables_wrapper
{
	position:relative;
	top:-260px;
	width: 50%;
	text-align: center;
	margin-left: auto;
  margin-right: auto;
}

#table_produits_length,#table_produits_filter,#table_produits_info,#table_produits_previous,#table_produits_next
{
	color:white;
}

/* The Modal (background) */
#modal_modif_produit,#modal_ajouter_produit
{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
