<<<<<<< HEAD

body{
	max-width: 960px;
	margin-left: auto;
	margin-right:auto;
	background-color:#264040;
	text-align:centre;
	font-family: Arial, Helvetica, sans-serif;
}
#menu ul {
 list-style-type: none;
    margin:0;
    padding: 0;
    width: 200px;
    background-color: rgb(67, 112, 112);
 }
#menu li{
text-align:center;
 height:40px;
 line-height: 40px;
 white-space: nowrap;
}
#menu li a {
 display:block;
 width:200px;
 color:white;
 font-weight:bold;
 text-decoration:none;
 vertical-align:middle;
 }
#menu li a:hover {
    background-color: #555;
    color: white;
}
#menu ul li ul {
 display:none;
 
 }
 #menu ul li:hover ul {
 display:inline-block;
 
 }
#menu li:hover ul li {
 float:none;

 }
 #menu li ul {
 position:absolute;
  margin-left:100px;
  background-color: #555;
  margin-top: -40px;
 }
 #rechercher{
 width:180px;
 height:30px;
 margin:10px 0 10px 0;
 }
 
=======
table
{
  border-collapse: collapse;
  width: 100%;
}

table,th,td
{
  border: 1px solid silver;
}

th,td
{
  padding: 3px;
  padding-left: 15px;
}

th
{
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even)
{
  background-color: #f2f2f2;
}
>>>>>>> a04f0c0c162f0aee952c5992da68e2e27c6be5be
